# flyctl launch added from .gitignore
build
**/erl_crash.dump


**/data

**/*.beam
**/*.ez
**/erl_crash.dump

**/*.zip
**/*.gz
**/*.tar
**/*.log
fly.toml


bin
test
README.md
secrets.env
Dockerfile
fly.toml
.github
.gitignore
Makefile
.git