# fly.toml app configuration file generated for gleam-prototyping on 2024-12-17T02:22:33Z
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'gleam-prototyping'
primary_region = 'yyz'

[build]

[http_service]
  internal_port = 8080
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

[[vm]]
  size = 'shared-cpu-1x'
